<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"   href="../static/password-reset-template-stylesheet.css">
</head>
<body>
<img src="" alt="">
<h3>Reset your password?</h3>
<p>
    To verify your email address, please use the following One Time Password (OTP):
    span447377
    <span th:text="${userId}" th:remove="tag"></span>use the confirmation code below to complete the  process. if you din"t make this request,ignore the email
</p>
<h4 th:text="resetCode"></h4>
</body>
</html>